doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

  body(style="margin: 0; padding: 0 1em;")
    h2 IceCondor Fence Alert

    p(style='padding: 1em 0; font-size: 150%;')
      a(href=user_link) #{username}
      |  has #{direction} fence
      = ' '
      a(href=fence_link) #{fence_name}
      | .

    p(style='padding: 0em 0.2em; margin: 0; background-color: #aaa')
      | Location inside
      pre(style='padding: 1em 0.5em; background: grey; color: white;').
        date #{location_inside.date}
        lat/lng #{location_inside.latitude.toFixed(4)} / #{location_inside.longitude.toFixed(4)}
        accuracy #{location_inside.accuracy.toFixed(1)}

    p(style='padding: 0em 0.2em; margin: 0; background-color: #aaa')
      | Location outside
      pre(style='padding: 1em 0.5em; background: grey; color: white;').
        date #{location_outside.date}
        lat/lng #{location_outside.latitude.toFixed(4)} / #{location_outside.longitude.toFixed(4)}
        accuracy #{location_outside.accuracy.toFixed(1)}
